@import "tailwindcss";
@plugin "tailwindcss-motion";
.jersey-10-regular {

  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mainshape{
clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}
.mainshape1{
clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
}
.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.montserrat-300::placeholder {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.montserrat-800 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.raleway-800 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.clip-path-polygon {
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}
.custom-highlight::selection{
  border: 0px;
}
.twoside-shadow {
  box-shadow: 4px 0px 5px rgba(0,0,0,0.2), 0px 4px 5px rgba(0,0,0,0.2);
}
@media screen and (max-width: 1366px) {
  .width-a {
    width: 1366px;
  }
  
}